<template>
  <v-container>
    <v-row>
      <v-col>
        <v-file-input v-model="file" ref="file_input" filled label="Załaduj dane"></v-file-input>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <div>Załadowane dane {{ $store.getters.getLocationsCount }}</div>
      </v-col>
      <v-spacer></v-spacer>
      <v-col class="text-right">
        <v-btn :disabled="!file" @click="onClick">Załaduj</v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>


<script lang="ts">
  import Vue from 'vue';
  import Component from 'vue-class-component';

  declare global
  {
    interface Window { API: Record<string, any>; }
  }

  @Component(
  {
    components:
    {
      
    },
  })


  export default class LoadData extends Vue
  {
    private m_file: File|null = null;


    get file(): File|null
    {
      return this.m_file;
    } 

    set file(value: File|null)
    {
      this.m_file = value;
    }


    onClick(): void
    {
      if(this.m_file)
      {
        this.$store.dispatch('clearLocations').then(() =>
        {
          if(this.m_file)
          {
            window.API.send('load-file', this.m_file.path);
            this.file = null;
          }
        });
      }
    }
  }
</script>