<template>
  <div
    v-on:keydown.left.stop="$store.dispatch('moveToPrevious')"
    v-on:keydown.right.stop="$store.dispatch('moveToNext')"
    class="d-flex flex-column"
    style="height: 100%;"
  >
    <map-component id="map"></map-component>
    <BottomNavigation></BottomNavigation>
  </div>
</template>


<style lang="scss" scoped>
  #map
  {
    min-width: 320px;
    min-height: 320px;
  }
</style>


<script lang="ts">
  import Vue from 'vue'
  import Component from 'vue-class-component'

  // Components
  import MapComponent from '@/components/MapComponent.vue';
  import BottomNavigation from '@/components/BottomNavigation.vue';

  @Component(
  {
    components:
    {
      MapComponent,
      BottomNavigation
    },
  })


  export default class Home extends Vue
  {
    
  }
</script>
