<template>
  <v-responsive>
    <v-data-table
      v-model="selected"
      :headers="headers"
      :items="items"
      @click:row="rowClicked"
      item-key="id"
      single-select
      single-expand
      show-expand
      class="elevation-1"
    >
      <template v-slot:[`item.datetime`]="{ item }">
        {{ item.datetime.toLocaleString() }}
      </template>

      <template v-slot:[`item.coordinates`]="{ item }">
        <v-chip>
          {{ item.latitude + '/' + item.longitude }}
        </v-chip>
      </template>

      <template v-slot:[`item.direction`]="{ item }">
        {{ item.direction }} {{ getCardinalDirection(item.direction) }}
      </template>

      <template v-slot:[`item.approximate_address`]="{ item }">
        <v-btn @click.stop="loadAddress(item)" v-if="item.approximate_address == null">
          Pobierz adres
        </v-btn>
        <span v-else>
          Rozwiń, aby wyświetlić
        </span>
      </template>

      <template v-slot:expanded-item="{ headers, item }">
        <td :colspan="headers.length">
          {{ item.approximate_address }}
        </td>
      </template>
    </v-data-table>
  </v-responsive>
</template>


<style lang="scss" scoped>
  
</style>


<script lang="ts">
  import Vue from 'vue'
  import Component from 'vue-class-component';

  @Component(
  {

  })


  export default class Home extends Vue
  {
    headers: any[] =
    [
      {
        text: 'Data/Czas',
        align: 'start',
        value: 'datetime',
      },
      { text: 'Współrzędne', value: 'coordinates' },
      { text: 'Prędkość', value: 'speed' },
      { text: 'Kierunek', value: 'direction' },
      { text: 'Przybliżony adres', value: 'approximate_address' },
      { text: '', value: 'data-table-expand' }
    ];


    get selected(): any[]
    {
      const selectedLocationObject = this.$store.getters.getCurrentLocationObject;
      return selectedLocationObject ? [selectedLocationObject] : [];
    }

    set selected(locationObjectArray: any[])
    {
      if(locationObjectArray.length > 0)
      {
        this.$store.dispatch('setCurrentLocationObject', locationObjectArray[0]);
      }
    }


    get items(): Record<string, any>
    {
      return this.$store.state.locations;
    }


    rowClicked(locationObject: Record<string, any>): void
    {
      this.$store.dispatch('setCurrentLocationObject', locationObject);
    }


    loadAddress(locationObject: Record<string, any>): void
    {
      this.$store.dispatch('fetchLocationAddress', locationObject);
    }


    getCardinalDirection(direction: number): string
    {
      const cardinalDirections =
      [
        'N', 'NNE', 'NE', 'ENE', 'E', 'ESE', 'SE', 'SSE',
        'S', 'SSW', 'SW', 'WSW', 'W', 'WNW', 'NW', 'NNW'
      ];

      let directionIndex = Math.round(direction / 22.5) % 16;
      return cardinalDirections[directionIndex];
    }
  }
</script>