<template>
  <v-bottom-navigation
    color="white"
  >
    <div class="d-flex align-center" style="width: 70%;">
      <div class="justify-self-end" style="padding-right: 20px;">
        {{ currentLocationTime }}
      </div>
      <div>
        <span>{{ address }}</span>
      </div>
    </div>
    <v-btn @click="$store.dispatch('moveToPrevious')">
      <span>Poprzedni</span>
      <v-icon>mdi-arrow-left-bold</v-icon>
    </v-btn>
    <v-btn @click="$store.dispatch('moveToNext')">
      <span>Następny</span>
      <v-icon>mdi-arrow-right-bold</v-icon>
    </v-btn>
    <div class="d-flex align-center">
      <span style="font-size: 130%;">
        <sup>
          {{ this.$store.getters.getCurrentLocationIndex + 1 }}
        </sup>
        &frasl;
        <sub>
          {{ this.$store.getters.getLocationsCount }}
        </sub>
      </span>
    </div>
  </v-bottom-navigation>
</template>


<script lang="ts">
  import Vue from 'vue'
  import Component from 'vue-class-component';

  @Component(
  {

  })


  export default class BottomNavigation extends Vue
  {
    get currentLocationTime(): string
    {
      const locationObject = this.$store.getters.getCurrentLocationObject;
      if(locationObject)
      {
        const locationDatetime = locationObject.datetime;
        return locationDatetime.toLocaleTimeString();
      }

      else
      {
        return '';
      }
    }


    get address(): string
    {
      const locationObject = this.$store.getters.getCurrentLocationObject;
      if(locationObject)
      {
        const addressObject = locationObject.approximate_address; 
        if(addressObject)
        {
          const address = addressObject.data.address;

          let houseNumber = address.house_number || ''
          let road = address.road || '';
          let town = address.town;

          if(houseNumber != '')
          {
            houseNumber = ' ' + houseNumber;
          }

          if(!town)
          {
            town = address.city || '';
          }
          
          return `ul. ${road}${houseNumber}, ${town}`;
        }
      }

      return '';
    }
  }
</script>