<template>
  <LMap id="map" ref="map" :zoom="mapZoom" :center="currentLocation">
    <LTileLayer :url="tileUrl" :attribution="tileAttribution"></LTileLayer>
    <LRotatedMarker
      :icon="markerIcon"
      :lat-lng="currentLocation"
      :rotation-angle="currentDirection"
      rotation-origin="center center"
    >
    </LRotatedMarker>

    <LPolyline :lat-lngs="pathToTravel" color="gray"></LPolyline>
    <LPolyline :lat-lngs="pathTraveled" color="green"></LPolyline>
  </LMap>
</template>


<style lang="scss" scoped>
  #map
  {
    width: 100%;
    height: 100%;
  }
</style>


<script lang="ts">
  import Vue from 'vue'
  import Component from 'vue-class-component';

  import L from 'leaflet';
  import LRotatedMarker from 'vue2-leaflet-rotatedmarker';
  import { LMap, LTileLayer, LPolyline } from 'vue2-leaflet';

  @Component(
  {
    components:
    {
      LMap, LTileLayer, LPolyline, LRotatedMarker,
    }
  })

  export default class MapComponent extends Vue
  {
    // Initialized variables
    mapZoom = 13;

    markerIcon = L.icon(
    {
      iconUrl: require('@/assets/car.png'),
      iconSize: [40, 80]
    });

    tileUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
    tileAttribution = '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors';


    created(): void
    {
      window.addEventListener('resize', this.handleResize);
    }


    destroyed(): void
    {
      window.removeEventListener('resize', this.handleResize);
    }


    private handleResize(): void
    {
      (this.$refs.map as LMap).mapObject.invalidateSize();
    }


    get pathToTravel(): number[][]
    {
      return this.$store.getters.getTravelPath.toTravelCoordinates;
    }


    get pathTraveled(): number[][]
    {
      return this.$store.getters.getTravelPath.traveledCoordinates;
    }


    get currentLocation(): number[]
    {
      const locationObject = this.$store.getters.getCurrentLocationObject;
      if(locationObject)
      {
        return [locationObject.latitude, locationObject.longitude];
      }

      else
      {
        return [0, 0];
      }
    }


    get currentDirection(): number
    {
      const locationObject = this.$store.getters.getCurrentLocationObject;
      if(locationObject)
      {
        return locationObject.direction;
      }

      else
      {
        return 0;
      }
    }
  }
</script>