<template>
  <v-app-bar
    app
    color="primary"
  >
    <v-btn to="/" text>
      <span class="mr-2">Mapa</span>
      <v-icon>mdi-map</v-icon>
    </v-btn>
    <v-btn to="/table" text>
      <span class="mr-2">Tabela z danymi</span>
      <v-icon>mdi-table-eye</v-icon>
    </v-btn>
    <v-btn to="/load" text>
      <span class="mr-2">Załaduj dane</span>
      <v-icon>mdi-folder-upload</v-icon>
    </v-btn>
  </v-app-bar>
</template>