<template>
  <v-app dark style="height: 100vh;">
    <TopNavigation></TopNavigation>
    <v-main>
      <transition name="slide" mode="out-in">
        <keep-alive max="3">
          <router-view :key="$route.fullPath"></router-view>
        </keep-alive>
      </transition>
    </v-main>

    <!-- <Backend loading progressbar> -->
    <v-scale-transition origin="center center">
      <v-card
        color="primary"
        width="250"
        style="position: fixed; bottom: 20px; left: 0; right: 0; margin-left: auto; margin-right: auto;"
        v-if="this.$store.state.backendDataProgress.dataRead != this.$store.state.backendDataProgress.dataTotal"
      >
        <v-card-text>
          Wczytywanie danych<br>
          {{ this.$store.state.backendDataProgress.dataRead }} / {{ this.$store.state.backendDataProgress.dataTotal }}
          <v-progress-linear
            :value="Math.round(this.$store.state.backendDataProgress.dataRead / this.$store.state.backendDataProgress.dataTotal * 100)"
            color="white"
            class="mb-0"
            height="10"
            stripped
          >
          </v-progress-linear>
        </v-card-text>
      </v-card>
    </v-scale-transition>
    <!-- </Backend loading progressbar> -->
  </v-app>
</template>


<style lang="scss">
  $scrollbar-background-color: rgb(50, 50, 50);
  $scrollbar-width: 10px;

  ::-webkit-scrollbar
  {
    width: $scrollbar-width;
    background-color: $scrollbar-background-color;

    &-thumb
    {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.7);
      background-color: rgb(50, 160, 255);
      border-radius: 5px;
    }

    &-track
    {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
      border-radius: $scrollbar-width;
      background-color: $scrollbar-background-color;
    }
  }


  .slide-enter
  {
    transform: translateY(-100%);
  }

  .slide-leave-to
  {
    transform: translateY(-100%);
  }

  .slide-enter-active, .slide-leave-active
  {
    transition: all 0.25s ease;
  }
</style>


<script lang="ts">
  import Vue from 'vue';

  // Components
  import TopNavigation from '@/components/TopNavigation.vue';


  export default Vue.extend(
  {
    name: 'App',


    components:
    {
      TopNavigation,
    },


    data: () => (
    {
      
    }),


    computed:
    {
      // Get number of data points
      locationsCount(): number
      {
        return this.$store.getters.getLocationsCount;
      },


      currentLocation(): number
      {
        return this.$store.getters.getCurrentLocationIndex;
      }
    },


    watch:
    {
      // When data is loaded change data point indicator from 0/0 to 1/n
      locationsCount(newCount: number, oldCount: number): void
      {
        if(oldCount == 0 && newCount > 0)
        {
          this.$store.dispatch('setCurrentLocationIndex', 0);
        }

        else if(newCount == 0)
        {
          this.$store.dispatch('setCurrentLocationIndex', -1);
        }
      }
    },


    mounted()
    {
      // Electron backend replies
      window.API.receive(
        'load-file-progress-reply',
        this.handleLoadFileProgressResponse
      );

      window.API.receive(
        'load-file-data-reply',
        this.handleLoadFileDataResponse
      );

      window.addEventListener('keydown', this.handleKeyDown);
    },


    destroyed()
    {
      window.removeEventListener('keydown', this.handleKeyDown);
    },


    methods:
    {
      // Receives data from Electron's backend
      handleLoadFileProgressResponse(payload: Record<string, number>): void
      {
        const readLines = payload.read;
        const totalLines = payload.total;

        this.$store.state.backendDataProgress.dataRead = readLines;
        this.$store.state.backendDataProgress.dataTotal = totalLines;
      },


      handleLoadFileDataResponse(payload: any[][]): void
      {
        for(let i = 0; i < payload.length; i++)
        {
          const locationObject = payload[i];

          const datetime: Date = locationObject[0];
          const latitude: string = locationObject[1];
          const longitude: string = locationObject[2];
          const speed: number = locationObject[3];
          const direction: number = locationObject[4];
          const locationType: string = locationObject[5];

          const newobject =
          {
            id: null,
            datetime: datetime,
            latitude: latitude,
            longitude: longitude,
            speed: speed,
            direction: direction,
            location_type: locationType,
            approximate_address: null
          }

          if(locationType == 'satellite positioning')
          {
            this.$store.dispatch('addLocationObject', newobject);
          }
        }
      },


      handleKeyDown(event: KeyboardEvent): void
      {
        const key = event.code;
        switch(key)
        {
          case 'ArrowLeft':
            this.$store.dispatch('moveToPrevious');
          break;
          case 'ArrowRight':
            this.$store.dispatch('moveToNext');
          break;
        }
      }
    }
  });
</script>
